@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray__300: #d1d5dc;

  --green__600: #16a34a;
  --blue__300: #93c5fd;
  --blue__600: #2563eb;
  --red__600: #dc2626;
  --orange__600: #ea580c;
  --yellow__600: #ca8a04;

  --neutral__50: #fafafa;
  --neutral__100: #f5f5f5;
  --neutral__200: #e5e5e5;
  --neutral__300: #d4d4d4;
  --neutral__400: #a3a3a3;
  --neutral__500: #737373;
  --neutral__600: #525252;
  --neutral__700: #404040;
  --neutral__800: #262626;
  --neutral__900: #171717;
  --neutral__950: #0a0a0a;
}

* {
  font-family: 'Sour Gummy', serif;
}

html {
  @apply bg-neutral-950 text-neutral-300;
}

button {
  appearance: none;
}

button:enabled:hover {
  @apply cursor-pointer;
}

button:disabled {
  @apply opacity-50;
}

button:disabled:hover {
  @apply cursor-not-allowed;
}

a:hover {
  @apply cursor-pointer;
}

input:-moz-autofill,
input:-moz-autofill:focus {
  -moz-text-fill-color: var(--neutral__950) !important;
}

.app__form_btn {
  @apply mt-[50px] border-[3px] border-gray-200 text-2xl px-10 py-2 rounded-xl;
}
