<div id="projects" class="root">
  <span>Projects</span>

  <div class="root__content">
    <div class="content__filters">
      <app-filter-app-type />
    </div>

    <div class="content__items">
      @for (item of paginated(); track item.id) {
        <div class="items__item">
          <div class="item__img">
            <app-img-loading [src]="item.img" />
          </div>

          <div class="item__info">
            <span class="info__title">{{ item.title }}</span>

            <a [href]="item.repo">GitHub</a>
            @if (item.down) {
              <span class="text-center">Machine Down, Live not currently available</span>
            } @else if (item.appType === 'backend') {
              <span class="text-center">Live not currently available</span>
            } @else {
              <a [href]="item.live">Live</a>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>
