.root {
  @apply bg-neutral-950 min-w-full h-full min-h-screen flex flex-col justify-center items-center gap-[50px];

  .root__svg {
    @apply w-[200px] sm:w-[300px] md:w-[400px] h-[200px] sm:h-[300px] md:h-[400px];
    color: var(--clr);
  }

  .root__status {
    @apply text-7xl sm:text-8xl md:text-9xl;
    color: var(--clr);
  }

  .root__msg {
    color: var(--clr);
    @apply block px-6 sm:px-10 text-lg sm:text-xl text-center;
  }

  .root__link {
    @apply text-lg sm:text-xl px-8 py-2 border-2 rounded-xl flex justify-center items-center transition-all duration-300;
    border-color: var(--clr);
    color: var(--clr);

    &:hover {
      @apply scale-110 cursor-pointer;
    }

    &:active {
      @apply duration-75 scale-75;
    }
  }
}
