<div class="root">
  <span class="text-2xl font-bold">Tech Stack</span>

  <div class="root__slider">
    <div class="slider__track">
      @for (item of TechStackUiFct.data; track item.id) {
        <div class="slider__svg" [style.color]="item.clr ?? ''">
          <ng-container *ngComponentOutlet="item.Svg" />
        </div>
      }

      @for (item of TechStackUiFct.data; track item.id + '-copy') {
        <div class="slider__svg" [style.color]="item.clr ?? ''">
          <ng-container *ngComponentOutlet="item.Svg" />
        </div>
      }
    </div>
  </div>
</div>
